header {
    font-family: helvetica, Arial, sans-serif;
    color: white;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/RotterdamMaasNederland.jpg/2880px-RotterdamMaasNederland.jpg);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5%;
}@media only screen and (min-width: 768px) {
}

body {
    background-color: rgb(110, 110, 172);
}@media only screen and (min-width: 768px) {
}

footer {
    font-family: helvetica, Arial, sans-serif;
    font-style: italic;
    color: navy;
    margin: 5%;
}@media only screen and (min-width: 768px) {
}


h1 {
    padding: 5px;
}

p {
    padding: 5px;
}

[class*="col-"] {
    width: 100%;
    }
    @media only screen and (min-width: 768px) {
    [class*="col-"] {
    float: left;
    padding: 15px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    }


.col-2{
    padding: 5px;
    margin: 5%;
    background-color: navy;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.col-9 {
    color: white;
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    margin: 5%;
}

img{
    float: right;
    width: 50%;
    height: auto;
    margin: 5px;
}